<div>
    Chatting in room <strong><%= @chatroom_name %></strong>

    <div>
        <%= for message <- @messages do %>
            <p><%= message %></p>
        <% end %>
    </div>

    <div>
        <%= f = form_for :chat, "#", phx_submit: :send_message %>
        <%= text_input f, :message, placeholder: "Enter message..." %>
    </div>
</div>